*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.box{
  background-color: rgb(46, 96, 235);
  color: white;
  text-align: center;
  border: 1px solid white;
  min-height: 30px;
  padding: 10px;
}
.box-nested{
    background-color: greenyellow;
    margin: 2px;
    color: orange;
}
.part-2{
    margin-top: 20px;
}
.part-3{
    margin-top: 20px;
    margin-bottom: 20px;
}



